*{
    font-family: "Poppins", sans-serif;
}


body{
    overflow-x: hidden;
}


h1 ,h2,h3,h4,h5,h6 , .h1,.h2,.h3,.h4,.h5,.h6{
    font-family: "Anton", sans-serif;
}


:root{
    --black: rgb(26,26,26);
    --white: rgb(250,250,250);
    --violet: rgb(87, 74, 130);
    --light: rgb(250,250,250);
    --dark:  rgb(26,26,26);

}

.bg-Black{
    background-color: var(--Black);
}
.bg-White{
    background-color: var(--White);
}
.bg-Gold{
    background-color: var(--Gold);
}

.txt-Black{
    color: var(--Black);
}
.txt-White{
    color: var(--White);
}
.txt-Gold{
    color: var(--Gold);
}

.light-mode{
 background-color: var(--light);
 color: var(--dark);
}
.dark-mode{
    background-color: var(--dark);
    color: var(--light);
}


.nav-link{
    border-bottom: 2px solid transparent;
}

.navbar{
    background-color: var(--white);
    height: 90px;
    width: 100%;
    position: fixed;
    top: 0;
    transition: 0.5s;
    z-index: 10;
}


.nav-blur{
    -webkit-backdrop-filter: blur(5px) saturate(0.8);
    -moz-backdrop-filter: blur(5px) saturate(0.8);
    backdrop-filter: blur(5px) saturate(0.8);
    background: rgba(89, 52, 100, 0.639) ;
    border: 3px solid var(--violet);
}

@media (max-width: 767px) {
    .navbar-collapse.show {
        background-color: rgba(89, 52, 100, 0.8); 
    }
}


li:hover {
    border-bottom: 4px solid var(--violet);
}


.formBorder{
    border: 4px solid var(--violet);
}


.btn-search{
    height: 40px;
    border: unset;
    border-radius: 12px;
    color: var(--black);
    background: transparent;
    z-index: 10;
    position: relative;
    transition: all 250ms;
    overflow: hidden;
    border-radius: 30px;
}


.header{
    height: 800px;
    width: 100%;
    background-image: url(./media/sfondoviola.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


.buttonS {
    --offset: 8px;
    --border-size: 2px;
    display: block;
    position: relative;
    padding: 1.2em 2.4em;
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    background: transparent;
    color: var(--black);
    text-transform: uppercase;
    letter-spacing: .2em;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0;
    box-shadow: inset 0 0 0 var(--border-size) currentcolor;
    transition: background .8s ease;
    margin-bottom: var(--offset);
}

.input-field {
    --offset: 8px;
    width: calc(100% - 8px);
    padding: 0.8em 1.6em;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    margin-bottom: var(--offset);
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container .buttonS {
    margin-bottom: var(--offset);
}

.buttonS:hover {
    background: rgba(100, 0, 0, .03);
}
.button__horizontal,
.button__vertical {
    position: absolute;
    top: var(--horizontal-offset, 0);
    right: var(--vertical-offset, 0);
    bottom: var(--horizontal-offset, 0);
    left: var(--vertical-offset, 0);
    transition: transform .8s ease;
    will-change: transform;
}
.button__horizontal::before,
.button__vertical::before {
    content: '';
    position: absolute;
    border: inherit;
}
.button__horizontal {
    --vertical-offset: calc(var(--offset) * -1);
    border-top: var(--border-size) solid currentcolor;
    border-bottom: var(--border-size) solid currentcolor;
}
.button__horizontal::before {
    top: calc(var(--vertical-offset) - var(--border-size));
    bottom: calc(var(--vertical-offset) - var(--border-size));
    left: calc(var(--vertical-offset) * -1);
    right: calc(var(--vertical-offset) * -1);
}
.buttonS:hover .button__horizontal {
    transform: scaleX(0);
}
.button__vertical {
    --horizontal-offset: calc(var(--offset) * -1);
    border-left: var(--border-size) solid currentcolor;
    border-right: var(--border-size) solid currentcolor;
}
.button__vertical::before {
    top: calc(var(--horizontal-offset) * -1);
    bottom: calc(var(--horizontal-offset) * -1);
    left: calc(var(--horizontal-offset) - var(--border-size));
    right: calc(var(--horizontal-offset) - var(--border-size));
}
.buttonS:hover .button__vertical {
    transform: scaleY(0);
}



.numbers{
    font-size: 20px;
}

.img3{
    width: 100%;
}

.lead{
    margin-top: 40px;
    font-size: 28px;
    font-weight: bold;
    color: var(--white);
}

h2{
    font-size: 62px;
}

.col1{
    background-color: var(--violet);
}

.swiper {
    width: 100%;
    height: 100%;
    background: #bebebe;
}

.swiper-slide {
    font-size: 18px;
    color: #111111;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;
}

.parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(/media/slideimg.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.swiper-slide .title {
    font-size: 41px;
    font-weight: 300;
}

.swiper-slide .subtitle {
    font-size: 21px;
}

.swiper-slide .text {
    font-size: 14px;
    max-width: 400px;
    line-height: 1.3;
}

.btn{
    background-color: var(--violet);
    color: var(--white);
}

.cnt{
    width: 70px !important;
    height: 30px !important;
}

#userDescription{
    resize: none;
}


.footersection{
    height: 200px;
}



/* ANNUNCI.HTML */

.annunci {
    display: flex; 
    flex-wrap: wrap; 
  }
  
  
  .card {
    width: 90%; 
    margin: 1.5%;
  }

  #accordionExample .accordion-header .accordion-button {
    border-color: red;
}

.categoryCard{
    color: #ffffff !important;
}

input[type="range"]::-webkit-slider-thumb {
    background-color: var(--violet); 
}

.footer_link{
    color: var(--violet) !important;
}